<%- include('header')%>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <h3>Order List</h3>
                <hr>

              
                

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                               
                                <th>Order ID</th>
                                <th>User name</th>
                                <th>Date</th>
                                <th>TotalPrice</th>
                                <th>Payment</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% orders.forEach((order, index)=> { %>
                              
                              
                                <% order.products.forEach((product, productIndex)=> { %>
                                    <tr>
                                       
                                        <td>
                                            <%= order.orderId %>
                                        </td>

                                        <td>
                                            <%= order.userId.name %>
                                        </td>
                                        <td>
                                            <%= new Date(order.orderDate).toLocaleDateString() %>
                                        </td>
                                        <td>$<%= product.price %>
                                        </td>
                                        <td>
                                            <%= order.paymentMethod %>
                                        </td>
                                        <td>

                                            <% if (product.status==='cancelled' ) { %>
                                                <!-- Display a link for cancelled orders -->
                                                <a href="#" onclick="showCancelReason('<%= product.reason %>')">Order
                                                    Cancelled</a>
                                                <% } else if (product.status==='Returned' ) { %>
                                                    <!-- Display a link to show reason for returns -->
                                                    <a href="#"
                                                        onclick="showReturnReason('<%= product.reason %>')">Order
                                                        Returned</a>
                                                    <% } else { %>
                                                        

                                                        <p id="order" style="display: none;">
                                                            <%= order._id %>
                                                        </p>
                                                        <p id="product" style="display: none;">
                                                            <%= product._id %>
                                                        </p>


                                                        <select class="onchangeValue" data-order-id="<%= order._id %>" data-product-id="<%= product._id %>">
                                                            <option value="pending" <%= product.status==='Pending' ? 'selected' : '' %>>Pending</option>
                                                            <option value="shipped" <%= product.status==='Shipped' ? 'selected' : '' %>>Shipped</option>
                                                            <option value="out_for_delivery" <%= product.status==='Out for Delivery' ? 'selected' : '' %>>Out for Delivery</option>
                                                            <option value="delivered" <%= product.status==='Delivered' ? 'selected' : '' %>>Delivered</option>
                                                            <option value="cancelled">Cancel Order</option>
                                                        </select>
                                                        
                                                        <% } %>
                                        </td>
                                        <td>
                                            <a href="/admin/adminOrderDetails/<%= order._id %>/<%= product._id %>" class="btn btn-primary btn-sm" style="padding: 5px 10px">View Details</a>

                                        </td>
                                    </tr>
                                    <% }); %>
                                        <% }); %>


                        </tbody>
                    </table>
                        
                   

                </div>

                <nav aria-label="Page navigation">
                    <ul class="pagination">
                      <% for (let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                          <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                        </li>
                      <% } %>
                    </ul>
                  </nav>



            </main>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
  

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


    <script>
        function showCancelReason(reason) {
            // Display SweetAlert prompt with cancel reason
            Swal.fire({
                title: 'Order Cancelled',
                text: 'Cancellation Reason: ' + reason, // Display the cancellation reason
                icon: 'info',
                confirmButtonText: 'Close'
            });
        }

        function showReturnReason(reason) {
            // Display SweetAlert prompt with return reason
            Swal.fire({
                title: 'Order Returned',
                text: 'Return Reason: ' + reason, // Display the return reason
                icon: 'info',
                confirmButtonText: 'Close'
            });
        }


        document.querySelectorAll('.onchangeValue').forEach(selectElement => {
    selectElement.addEventListener("change", function () {
        const orderId = this.dataset.orderId;
        const productId = this.dataset.productId;
        const status = this.value;
        console.log("orderId",orderId);
        
        
        updateOrderStatus(orderId, productId, status);
    });
});



        function updateOrderStatus(orderId, productId, status) {
            fetch('/admin/updateOrderStatus', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ orderId, productId, status }),
            })
                .then(response => {
                    if (response.ok) {
                        console.log('Order status updated successfully');
                        // Optionally, you can update the UI here without reloading the page
                    } else {
                        console.error('Failed to update order status');
                    }
                })
                .catch(error => {
                    console.error('Error updating order status:', error);
                });
        }


    </script>

 
<%- include('footer')%>





