<%- include('header')%>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <h3>Product Details</h3>
                <hr>
                <div class="addcateg">
                    <a href="/admin/addproduct"
                      ><button id="addcateg" class="btn btn-dark">Add new product</button></a
                    >
                  </div>
                  <br>
                  
                <!-- Filter Dropdown -->
    <div class="filter-dropdown">
      <form action="/admin/filterproducts" method="get"> <!-- Form for submitting filter -->
          <label for="categoryFilter">Filter by Category:</label>
          <select id="categoryFilter" name="category" class="categoryForm">
              <option value="">All Categories</option>
              <% categories.forEach(category => { %>
                  <option value="<%= category %>"><%= category %></option>
              <% }); %>
          </select>
          <button type="submit" class="btn btn-sm btn-primary">Apply Filter</button>
      </form>
  </div>

  

                <div class="table-responsive">
                  <table  class="table" style="width:100%">

                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>image</th>
                                <th>Description</th>
                               
                                <th>Price</th>
                                <th>discount</th>
                                <th>Stock</th>
                                <th>Actions</th>
                                <th>Listbutton</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% products.forEach((items, index) => { %>
                            <tr>
                              <td>
                                <div class="id"><%= index + 1%></div>
                              </td>
                              <td><div class="name"><%= items.name %></div></td>
                              <td>
                                <div class="category"><%= items.category %></div>
                              </td>
                              <td>
                                <div class="image-container">
                                  <% items.productImage.forEach((image, imageIndex) => { %>
                                      <img src="<%= image %>" style="width: 50px; height: 50px" class="image" />
                                  <% }); %>
                              </div>
                      
                              </td>
                              <td>
                                <div class="description"><%= items.description %></div>
                              </td>
                              
                              <td>
                                <div class="price"><%= items.price %></div>
                              </td>
                              <td>
                                <div class="discount"><%= items.discount %></div>
                              </td>
                              <td>
                                <div class="stock"><%= items.stock %></div>
                              </td>
                              <td>
                                <form
                                  action="/admin/editproduct/<%= items._id %>"
                                  method="get"
                                >
                                  <button class="btn btn-primary" type="submit">Edit</button>
                                </form>
                              </td>
              
                              <td>
                                <form
                                  action="/admin/visibility/<%= items._id %>"
                                  method="post"
                                >
                                  <button
                                    type="submit"
                                    class="btn btn-danger sListed <%= items.isListed? 'unblocked-user' : 'blocked-user' %>"
                                  >
                                    <% if (items.isListed) { %> Listed <% } else { %> Not
                                    Listed <% } %>
                                  </button>
                                </form>
                              </td>
                            </tr>
                            <% }); %>
                            <!-- Add more rows as needed -->
                          </tbody>
                    </table>

                      <!-- Pagination -->                   
                    <% if (totalPages > 1) { %>
                      <nav aria-label="Page navigation">
                          <ul class="pagination justify-content-center">
                              <% if (currentPage > 1) { %>
                                  <li class="page-item">
                                      <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
                                          <span aria-hidden="true">Previous</span>
                                          <span class="sr-only">Previous</span>
                                      </a>
                                  </li>
                              <% } else { %>
                                  <li class="page-item disabled">
                                      <span class="page-link" aria-hidden="true">&laquo;</span>
                                  </li>
                              <% } %>
                              <% if (currentPage < totalPages) { %>
                                  <li class="page-item">
                                      <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                                          <span aria-hidden="true">Next</span>
                                          <span class="sr-only">Next</span>
                                      </a>
                                  </li>
                              <% } else { %>
                                  <li class="page-item disabled">
                                      <span class="page-link" aria-hidden="true">&raquo;</span>
                                  </li>
                              <% } %>
                          </ul>
                      </nav>
                  <% } %>

                </div>

               
            </main>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script></script>


 
<script>
  //block option
  var isBlocked = false;

  function toggleBlock() {
    isBlocked = !isBlocked;
    var button = document.querySelector(".block-btn");

    if (isBlocked) {
      button.textContent = "Blocked";
      button.classList.add("blocked");
    } else {
      button.textContent = "Unblock";
      button.classList.remove("blocked");
    }
  }
  //delete option
  function handleDelete() {
    // Implement your delete logic here
    alert("Item deleted!");
  }
</script>

<script>
  function fetchPage(page) {
      fetch(`/admin/productmanage?page=${page}`)
          .then(response => response.text())
          .then(html => {
              document.querySelector('.table-responsive').innerHTML = html;
          })
          .catch(error => console.log(error));
  }
</script>

<%- include('footer')%>