<%- include('header')%>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <h3>User Details</h3>
                <hr>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Status</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <% if (userFind && userFind.length> 0) { %> <%
                            userFind.forEach((userFin)=> { %>
                            <tr>
                              <td><%= userFin.name %></td>
                              <td><%= userFin.email %></td>
                              <td>
                                <form
                                  action="/admin/blockuser/<%= userFin._id %>"
                                  method="POST"
                                >
                                  <button
                                    id="myButton"
                                    type="submit"
                                    class="toggle-button <%= userFin.isBlocked ? 'unblocked-user' : 'blocked-user' %>"
                                  >
                                    <% if (userFin.isBlocked) { %> Unblock User <% } else { %>
                                    Block User <% } %>
                                  </button>
                                </form>
                              </td>
                            </tr>
                            <% }); %> <% } else { %>
                            <tr>
                              <td colspan="3">No users found</td>
                            </tr>
                            <% } %>
                          </tbody>
                    </table>

                   
                    <!-- Pagination -->
                    <% if (totalPages > 1) { %>
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <% if (currentPage > 1) { %>
                                    <li class="page-item">
                                        <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                <% } %>
                                <% for (let i = 1; i <= totalPages; i++) { %>
                                    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                    </li>
                                <% } %>
                                <% if (currentPage < totalPages) { %>
                                    <li class="page-item">
                                        <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                <% } %>
                            </ul>
                        </nav>
                    <% } %>

                </div>             

            </main>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script></script>


<script>
    function fetchPage(page) {
        fetch(`/admin/usermanage?page=${page}`)
            .then(response => response.text())
            .then(html => {
                document.querySelector('.table-responsive').innerHTML = html;
            })
            .catch(error => console.log(error));
    }
</script>


<%- include('footer')%>