<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/stylesheets/user/home.css" type="text/css" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Josefin+Sans&display=swap|Permanent+Marker&display&display=swap"
    rel="stylesheet" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <!-- //font-awesome link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Italiana&display=swap" rel="stylesheet">
   

  
  <link rel="stylesheet" href="/stylesheets/user/profile.css" />
  <link rel="stylesheet" href="/stylesheets/user/address.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>

  <title>Amoli</title>
  <style>
    body {
      font-family: "Bacasime Antique", serif;
}
    
  </style>
</head>

<body>
  <header>
    <div id="header-info">
      <!-- <p id="contactus">Contact Us</p> -->
      <img src="/img/amoli-jewels-high-resolution-logo-black.png" class="logo" />
      <h1 id="store-name">Amoli Jewels</h1>
      <div class="nav-icons">
        <div class="dropdown" id="my-account-dropdown">
          <a id="my-account" onclick="toggleDropdown()"><i class="fa fa-regular fa-user fa-xl"></i> My Account</a>
          <div class="dropdown-content" id="account-options">
            <a href="/profile"><i class="fa fa-regular fa-user fa-sm"></i> My Profile</a>
            <a href="#"><i class="fa fa-regular fa-receipt fa-sm"></i> Orders</a>
            <a href="#"><i class="fa fa-regular fa-heart fa-sm"></i> Wishlist</a>
            <a href="#"><i class="fa fa-regular fa-ticket fa-sm"></i> Coupons</a>
            <a href="/logout"><i class="fa fa-regular fa-sign-out-alt fa-sm"></i> Logout</a>
          </div>
        </div>

        <a id="addtocart" href="/cart" style="color: black; text-decoration: none;">My Cart<i
            class="fa fa-duotone fa-cart-shopping fa-xl"></i></a>
      </div>
    </div>
    </div>

    <nav id="nav-bar">
      <a href="/home">Home</a>
      <a href="">About us</a>
        <a href="">Contact</a>
        <a href="/all-products">Products</a>
      <img src="" id="search-icon" />
    </nav>
  </header>


  <div class="container">
    <div class="main-body">
      <div class="row">
        <div class="col-lg-4">
          <div class="card1">
            <div class="card1-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin"
                  class="rounded-circle p-1 bg-dark" width="110" />
                <div class="mt-3">
                  <h4><%= userdata.name %></h4>
                </div>
              </div>
              <hr class="my-4" />
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <a href="/profile">Profile Information</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <a href="/address">Manage Addresses</a>
                </li>
                <!-- <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <a href="#">Change Password</a>
                </li> -->
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <a href="/order-history">My Orders</a>
                </li>
                <li
                class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
              >
                <a href="/coupons">Coupons</a>
              </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <a href="/wallet">My Wallet</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"></li>
              </ul>


            </div>
          </div>
        </div>

        <!-- Existing Addresses Section -->
        <div class="col-lg-8">

          <button class="btn btn-dark mt-3" data-toggle="modal" data-target="#addAddressModal">Add Address</button>
          <div id="successMessage"><%= successMessage %></div>
          <div class="row mt-3">
            <!-- Loop through existing addresses and display them -->
          
              <% addresses.forEach(address=> { %>
              <div class="col-md-6 mb-4">
                <div class="cardCtm">
                  <div class="card2">
                    <div class="card-body">
                      <!-- Display address details here -->
                      <h5 class="name">name: <%= address.name %>
                      </h5>
                      <p class="address">address: <%= address.address %>
                      </p>
                      <p class="phone">Phone: <%= address.phone %>
                      </p>
                      <p class="locality">Locality: <%= address.locality %>
                      </p>
                      <p class="pincode">Pincode: <%= address.pincode %>
                      </p>
                      <p class="state">State: <%= address.state %>
                      </p>
                      <!-- Edit Address Button -->
                      <div class="button-actions">
                        <form action="/editAddress/<%= address._id %>" method="get">
                          <button class="btn btn-dark btn-sm" type="submit"  >Edit</button>
                        </form>
                        <form action="/deleteAddress/<%= address._id %>" method="post">
                        <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                        </form>
                      </div>                   
                    </div>
                  </div>
                </div>
              </div>
              <% }); %>
                <!-- Repeat the above card structure for each existing address -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal- ADD ADDRESS -->
<div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="addAddressModalLabel">Add Address</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- Input boxes for name, address, phone, locality, pincode, state -->
      <form id="addressForm" method="post" action="/addAddress">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" name="name">
          <small class="text-danger" id="nameError"></small> 
        </div>

        <!-- Address -->
        <div class="form-group">
          <label for="address">Address:</label>
          <input type="text" class="form-control" id="address" name="address">
          <small class="text-danger" id="addressError"></small>
        </div>

        <!-- Phone -->
        <div class="form-group">
          <label for="phone">Phone:</label>
          <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{10}"
            title="Phone number should be 10 digits">
          <small class="text-danger" id="phoneError"></small> 
        </div>

        <div class="form-group">
          <label for="locality">Locality:</label>
          <input type="text" class="form-control" id="locality" name="locality">
          <small class="text-danger" id="localityError"></small> 
        </div>
        <!-- Pincode -->
        <div class="form-group">
          <label for="pincode">Pincode:</label>
          <input type="text" class="form-control" id="pincode" name="pincode" pattern="[0-9]{6}"
            title="Pincode should be 6 digits">
          <small class="text-danger" id="pincodeError"></small> 
        </div>
        <div class="form-group">
          <label for="state">State:</label>
          <input type="text" class="form-control" id="state" name="state">
          <small class="text-danger" id="stateError"></small> 
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
</div>



  <script>
    jQuery(document).ready(function () {
      $('#addressForm').submit(function (event) {
        // Prevent form submission if validation fails
        if (!validateForm()) {
          event.preventDefault();
        }
      });
  
      // Function to validate the form
      function validateForm() {
        let isValid = true; // Track overall form validity
        // Full name validation
        const nameInput = document.getElementById('name');
        const nameError = document.getElementById('nameError');
        if (nameInput.value.trim() === '') {
          nameError.innerText = 'Full name is required';
          isValid = false;
        } else {
          nameError.innerText = ''; // Clear any previous error message
        }
  
        // Address validation
        const addressInput = document.getElementById('address');
        const addressError = document.getElementById('addressError');
        if (addressInput.value.trim() === '') {
          addressError.innerText = 'Address is required';
          isValid = false;
        } else {
          addressError.innerText = ''; 
        }
  
        // Locality validation
        const localityInput = document.getElementById('locality');
        const localityError = document.getElementById('localityError');
        if (localityInput.value.trim() === '') {
          localityError.innerText = 'Locality is required';
          isValid = false;
        } else {
          localityError.innerText = ''; 
        }

        //State validation
        const  stateInput = document.getElementById('state');
        const stateError = document.getElementById('stateError');
        if(stateInput.value.trim() === ''){

            stateError.innerText = 'State is required';
            isValid = false;
        }else if (/\d/.test(stateInput.value)) {
              stateError.innerText = 'State should not contain numbers';
              isValid = false;
            } else {
              stateError.innerText = ''; // Clear any previous error message
      }
      
  
        // Phone number validation
        const phoneInput = document.getElementById('phone');
        const phoneError = document.getElementById('phoneError');
        if (!/^\d{10}$/.test(phoneInput.value)) {
          phoneError.innerText = 'Phone number should be 10 digits';
          isValid = false;
        } else {
          phoneError.innerText = ''; // Clear any previous error message
        }
  
        // Pincode validation
        const pincodeInput = document.getElementById('pincode');
        const pincodeError = document.getElementById('pincodeError');
        if (!/^\d{6}$/.test(pincodeInput.value)) {
          pincodeError.innerText = 'Pincode should be 6 digits';
          isValid = false;
        } else {
          pincodeError.innerText = ''; // Clear any previous error message
        }
  
        return isValid; // Return overall form validity
      }
    });
  </script>
  

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  <script>
    console.log('Script is running!');

    jQuery(document).ready(function () {
      console.log('Document is ready!');

      $('#addressForm').submit(function (event) {
        // event.preventDefault();
        console.log('Form submitted!');
      });
    });

  </script>

  <!--FOOTER SECTION-->
  <footer>
    <div class="footer-content">
      <div class="footer-logo">
        <img src="/img/amoli-jewels-high-resolution-logo-white.png" class="logo" style="width: 70px; height: 60px;" />
        
      </div>
      <h2>FOLLOW US</h2>
      <div class="social-icons">
        <div class="icon-div">
          <a href="#" class="icon"><i class="fa-brands fa-facebook fa-xl" style="color: #f1f3f3;"></i></a>
        </div>
        <div class="icon-div">
          <a href="#" class="icon"><i class="fa-brands fa-twitter fa-xl" style="color: #f1f3f3;"></i></a>
        </div>
        <div class="icon-div">
          <a href="#" class="icon"><i class="fa-brands fa-instagram fa-xl" style="color: #f1f3f3;"></i></i></a>
        </div>
        <div class="icon-div">
          <a href="#" class="icon"><i class="fa-brands fa-youtube fa-xl" style="color: #f1f3f3;"></i></a>
        </div>
      </div>
      <ul class="footer-links">
        <li><a href="#">FAQS</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Shippping and Delivery</a></li>
        <li><a href="#">Payments</a></li>
      </ul>
    </div>
    <p>&copy; 2024 Your Company. All rights reserved.</p>
  </footer>


  <!-- Bootstrap JS dependencies -->
  <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"
    integrity="sha384-ZvpUoIEXLqD6Q8fL5D+V2HFWqIq0D+IIuOvq9Wl9+CyIpO8yBDWXpSLtA7V7DSq" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-o5D/P2KLTf6Jo5yO5PDSKAVsZz4D3COIvY9WN6n5NGWSgZQaDi2K7eVR6qJDOOh" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>


    <script>
      // Add a timeout to hide the success message after 3 seconds only if there is a success message
      document.addEventListener("DOMContentLoaded", function() {
        var successMessageDiv = document.getElementById('successMessage');
        if (successMessageDiv) {
          setTimeout(function() {
            console.log('Hiding success message now.');
            successMessageDiv.style.display = 'none';
          }, 3000);
        }
      });
    </script>

  <script>
    function toggleDropdown() {
      var dropdown = document.getElementById("account-options");
      dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
      if (!event.target.matches('#my-account')) {
        var dropdown = document.getElementById("account-options");
        if (dropdown.style.display === "block") {
          dropdown.style.display = "none";
        }
      }
    };

  </script>



</body>

</html>