<%- include('header')%>
<style>
  #changepassword {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  #changepassword label {
    display: block;
    margin-bottom: 5px;
  }
  #changepassword input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  #changepassword small {
    display: block;
    margin-top: 5px;
  }
  #changepassword button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  #changepassword button:hover {
    background-color: #0056b3;
  }
</style>

<form class="row" action="/change-password" method="post" id="changepassword">
  <div style="margin-bottom: 10px">
    <label for="existingPassword">Existing Password:</label>
    <input
      type="password"
      id="existingPassword"
      name="existingPassword"
      required
    />
    <br />
    <small style="color: red"><%= locals.error %></small>
  </div>
  <div style="margin-bottom: 10px">
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required />
    <br />
    <small style="color: red"><%= locals.newPassworderror %></small>
  </div>
  <div style="margin-bottom: 10px">
    <label for="confirmPassword">Confirm New Password:</label>
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      required
    />
    <br />
    <small style="color: red"><%= locals.newPassworderror %></small>
  </div>
  <div>
    <button type="submit">Change Password</button>
  </div>
</form>

<div class="profilebtn" style="margin-left: 200px">
  <a href="/profile">
    <button class="btn btn-sm btn-dark">Go to profile</button>
  </a>
</div>

<%- include('footer') %>
