<%- include('header')%>
<style>
  #changepassword {
    width: 600px;
    height: 500px;

    margin-top: 20px;
    margin-left: 150px;
  }
  #changepassword .col-12 {
    text-align: center;
  }
</style>

<form
  class="row g-3"
  action="/change-password"
  method="post"
  id="changepassword"
>
  <div class="col-md-6">
    <label for="existingPassword" class="form-label">Existing Password:</label>
    <input
      type="password"
      class="form-control"
      id="existingPassword"
      name="existingPassword"
      required
    />
    <small style="color: red"><%= locals.error %></small>
  </div>
  <div class="col-md-6">
    <label for="newPassword" class="form-label">New Password:</label>
    <input
      type="password"
      class="form-control"
      id="newPassword"
      name="newPassword"
      required
    />
    <small style="color: red"><%= locals.newPassworderror %></small>
  </div>
  <div class="col-md-6">
    <label for="confirmPassword" class="form-label"
      >Confirm New Password:</label
    >
    <input
      type="password"
      class="form-control"
      id="confirmPassword"
      name="confirmPassword"
      required
    />
    <small style="color: red"><%= locals.newPassworderror %></small>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Change Password</button>
  </div>
</form>

<div class="profilebtn" style="margin-left: 200px">
  <a href="/profile">
    <button class="btn btn-sm btn-dark">Go to profile</button>
  </a>
</div>

<%- include('footer') %>
