<%- include('header')%>

<!--BANNER SECTION-->
<div id="banner-section">
  <img src="/img/carousel/carous1.jpg" />
</div>

<!--cards section-->

<div class="col-md-10">
  <div class="container-fluid">
    <br />
    <h1>ALL PRODUCTS</h1>
    <div class="row gy-3">
      <% productList.forEach((product)=> { %> <% if (product.isListed) { %>
      <div class="col-md-3">
        <div class="card" id="product">
          <a href="/productDetails/<%= product._id %>">
            <img
              src="<%= product.productImage[0] %>"
              class="card-img-top"
              alt="..."
            />
          </a>

          <div class="card-body">
            <h6 class="card-text"><%= product.name %></h6>
            <h6 class="card-title"><%= product.price %></h6>
            <form action="/add-to-cart/<%= product._id %>" method="post">
              <% if (product.isListed && product.stock > 0) { %>
              <!-- Product is available, show Add to Cart button -->
              <button type="submit" class="btn btn-lg btn-warning">
                Add to Cart
              </button>
              <% } else { %>
              <!-- Product is not available, show Out of Stock message -->
              <span class="text-danger">Out of Stock</span>
              <% } %>
            </form>
            <button type="submit" class="btn btn-sm">
              <i class="fa fa-duotone fa-heart"></i> Add to wishlist
            </button>
          </div>
        </div>
      </div>

      <% } %> <% }) %>
    </div>
  </div>
</div>

<!--MIDDLE CONTENT-->
<section class="container-fluid middle-content">
  <div class="row inner-content">
    <div class="col-lg-6">
      <img src="/img/home/body1.jpg" />

      <p style="font-size: 30px">
        Stride in Style: Elevate Your Journey with Chic Sneakers and Empowering
        Running Shoes for Women!
      </p>
    </div>

    <div class="col-lg-6">
      <img src="/img/home/body2.jpg" />
    </div>
  </div>
</section>

<%- include('footer') %>
