<%- include('header')%>

<div class="container">
  <div class="main-body">
    <div class="row order-main">
      <div class="col-lg-12">
        <h3>Your Orders</h3>

        <div
          class="main-div"
          style="max-height: 400px; overflow-y: auto; scrollbar-width: none"
        >
          <table class="order-table">
            <thead>
              <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Date</th>
                <th scope="col">Price</th>
                <th scope="col">Total Price</th>

                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <!-- Loop through orders and display data -->
              <% orders.forEach(order=> { %> <% order.products.forEach(product=>
              { %>
              <tr>
                <td><%= order.orderId %></td>
                <td>
                  <%= order.orderDate.toLocaleString("en-US", { timeZone:
                  "Asia/Kolkata" }) %>
                </td>
                <td>
                  <% if (product.discount && product.discount> 0) { %> Rs. <%=
                  (product.price - (product.discount / 100) *
                  product.price).toFixed(2) %> <% } else { %> Rs. <%=
                  product.price %> <% } %>
                </td>
                <td><%= order.totalPrice %></td>

                <td class="order-status">
                  <% if (product.status==='Cancelled' ) { %> <%= product.status
                  %> <% } else { %> <%= product.status %> <% } %>
                </td>
                <td>
                  <div class="order-actions" style="display: flex; gap: 10px">
                    <% if (product.status === 'failed') { %>
                    <button
                      class="btn btn-sm btn-primary retryPaymentBtn"
                      type="button"
                      onclick="retryPayment('<%= order._id %>','<%= product.productId %>','<%= product.price %>')"
                    >
                      Retry Payment
                    </button>

                    <% } else if (product.status === 'Pending' || product.status
                    === 'pending') { %>
                    <button
                      id="cancelButton_<%= order._id %>"
                      class="btn btn-sm btn-danger cancelbtn"
                      onclick="showCancelConfirmation('<%= order._id %>', '<%= product.productId %>')"
                    >
                      Cancel Order
                    </button>
                    <% } %> <% if (product.status === 'delivered') { %>
                    <button
                      class="btn btn-sm btn-danger returnbtn"
                      onclick="showReturnPrompt('<%= order._id %>', '<%= product.productId %>')"
                    >
                      Return Order
                    </button>
                    <% } %>
                    <a
                      href="/order-details/<%= order._id %>/<%= product.productId %>"
                      class="btn btn-dark btn-sm"
                      style="padding: 5px 10px"
                      >View Details</a
                    >
                  </div>
                </td>
              </tr>
              <% }); %> <% }); %>
            </tbody>
          </table>
        </div>

        <!-- Pagination -->
        <% if (totalPages > 1) { %>
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <% if (currentPage > 1) { %>
            <li class="page-item">
              <a
                class="page-link"
                href="?page=<%= currentPage - 1 %>"
                aria-label="Previous"
              >
                <span aria-hidden="true">Previous</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <% } else { %>
            <li class="page-item disabled">
              <span class="page-link" aria-hidden="true">&laquo;</span>
            </li>
            <% } %> <% if (currentPage < totalPages) { %>
            <li class="page-item">
              <a
                class="page-link"
                href="?page=<%= currentPage + 1 %>"
                aria-label="Next"
              >
                <span aria-hidden="true">Next</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            <% } else { %>
            <li class="page-item disabled">
              <span class="page-link" aria-hidden="true">&raquo;</span>
            </li>
            <% } %>
          </ul>
        </nav>
        <% } %>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<!-- Include Razorpay SDK -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
  function showCancelConfirmation(orderId, productId) {
    Swal.fire({
      title: "Cancel Order",
      input: "text",
      inputPlaceholder: "Enter reason for cancellation",
      showCancelButton: true,
      confirmButtonText: "Submit",
      cancelButtonText: "Cancel",
      preConfirm: (reason) => {
        if (!reason) {
          Swal.showValidationMessage("Please enter a reason for cancellation");
        }
        return reason;
      },
    }).then((result) => {
      if (result.isConfirmed) {
        // Submit fetch request to cancel the product within the order
        fetch(`/cancelOrder`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            orderId: orderId,
            productId: productId,
            reason: result.value,
          }), // Include orderId and productId in the request body
        })
          .then((response) => {
            if (response.ok) {
              return response.json(); // Parse response body as JSON
            } else {
              throw new Error("Failed to cancel the order");
            }
          })
          .then((data) => {
            // Update UI with the new order status
            const cancelButton = document.getElementById(
              `cancelButton_${orderId}`
            );
            if (cancelButton) {
              cancelButton.innerText = "Order Cancelled";
              cancelButton.classList.remove("btn-danger");
              cancelButton.classList.add("btn-secondary");
              cancelButton.disabled = true;
              // Update status in the order table if needed
              const orderStatusCell = cancelButton
                .closest("tr")
                .querySelector(".order-status");
              if (orderStatusCell) {
                orderStatusCell.innerText = "Cancelled";
              }
              Swal.fire("Order Cancelled", "", "success");
            } else {
              console.error("Button not found");
            }
          })
          .catch((error) => {
            console.error("Error cancelling order:", error);
            Swal.fire("Error", "Failed to cancel the order", "error");
          });
      }
    });
  }

  function showReturnPrompt(orderId, productId) {
    Swal.fire({
      title: "Return Order",
      input: "text",
      inputPlaceholder: "Enter reason for return",
      showCancelButton: true,
      confirmButtonText: "Submit",
      cancelButtonText: "Cancel",
      preConfirm: (reason) => {
        if (!reason) {
          Swal.showValidationMessage("Please enter a reason for return");
        }
        return reason;
      },
    }).then((result) => {
      if (result.isConfirmed) {
        fetch(`/returnOrder`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            orderId: orderId,
            productId: productId,
            reason: result.value,
          }), // Include productId in the request body
        })
          .then((response) => {
            if (response.ok) {
              Swal.fire("Order Returned", "", "success");
            } else {
              Swal.fire("Error", "Failed to return the order", "error");
            }
          })
          .catch((error) => {
            console.error("Error returning order:", error);
            Swal.fire("Error", "Failed to return the order", "error");
          });
      }
    });
  }
</script>

<script>
  function retryPayment(orderId, productId, price) {
    // Create an object with the data to be sent to the backend
    const data = {
      orderId: orderId,
      productId: productId,
      price: price,
    };

    // Log data fields
    console.log("Retry Payment Data:", data);

    // Make a fetch request to the backend
    fetch("/retry-payment", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error("Network response was not ok");
        }
        return response.json();
      })
      .then((data) => {
        // Handle successful response from the backend
        console.log("Retry Payment Successful:", data);
        // Open the Razorpay payment window
        openRazorpay(data.orderId, data.productId, data.orderprice);
      })
      .catch((error) => {
        // Handle errors
        console.error("Error retrying payment:", error);
        // You can display an error message to the user or handle the error in any other way
      });
  }

  function openRazorpay(orderId, productId, orderprice) {
    var options = {
      key: "rzp_test_zuuyQNQOwzCbtw", // Replace with your Razorpay Key ID
      amount: orderprice * 100,
      currency: "INR",
      name: "Amoli Jewels",
      description: "Retry Payment",
      image: "https://your-company-logo.png",
      order_id: orderId,
      handler: function (response) {
        // Handle successful payment
        console.log("Payment successful:", response);
        // Send payment success status to the backend
        updateOrderStatus(orderId, productId, "pending");
      },
      prefill: {
        name: "Vidya M Mathew",
        email: "vidyamathew13@gmail.com",
        contact: "6282910820",
      },
      notes: {
        address: "Customer Address",
      },
      theme: {
        color: "#3399cc",
      },
    };

    console.log("Razorpay Options:", options);
    var rzp1 = new Razorpay(options);
    rzp1.open();
  }

  function updateOrderStatus(orderId, productId, status) {
    console.log(
      "Update Order Status - Order ID:",
      orderId,
      "productid:",
      productId,
      "Status:",
      status
    );

    // Send a request to update the order status to 'pending' in the backend
    fetch("/update-order-status", {
      method: "PATCH",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        orderId: orderId,
        productId: productId,
        status: status,
      }),
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error("Network response was not ok");
        }
        return response.json();
      })
      .then((data) => {
        console.log("Order status updated:", data);
      })
      .catch((error) => {
        console.error("Error updating order status:", error);
      });
  }
</script>

<%- include('footer') %>
