<%- include('header')%>

<div class="container">
  <div class="main-body">
    <div class="row">
      <div class="col-lg-4">
        <div class="card1" class="profile-options">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img
                src="https://bootdey.com/img/Content/avatar/avatar6.png"
                alt="Admin"
                class="rounded-circle p-1 bg-dark"
                width="110"
              />
              <div class="mt-3">
                <h4><%= userdata.name %></h4>
              </div>
            </div>
            <hr class="my-4" />
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
              >
                <a href="/profile">Profile Information</a>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
              >
                <a href="/address">Manage Addresses</a>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
              >
                <a href="/change-password">Change password</a>
              </li>

              <li
                class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
              >
                <a href="/order-history">My Orders</a>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
              >
                <a href="/coupons">Coupons</a>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
              >
                <a href="/wallet">My Wallet</a>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
              ></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card" id="user-details">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  value="<%= userdata.name %>"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input
                  type="text"
                  class="form-control"
                  name="email"
                  value="<%= userdata.email %>"
                  readonly
                />
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-9 text-secondary">
                <form action="/editprofile" method="get">
                  <button class="btn btn-sm btn-dark" type="submit">
                    Edit Profile
                  </button>
                </form>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-9 text-secondary">
                <a href="#" id="createReferralLink">
                  <button
                    id="createReferralButton"
                    type="button"
                    class="custom-button"
                    style="
                      border: none;
                      background-color: rgb(88, 85, 85);
                      color: white;
                      height: 40px;
                      padding: 10px;
                      border-radius: 5px;
                    "
                  >
                    Create Referral
                  </button>
                </a>

                <div id="referralCodeContainer" style="display: none">
                  <!-- The referral code will be displayed here -->
                  <span>Referal code : </span>
                </div>
                <h5 id="referralCodeSpan" style="color: black">
                  Referral code: <%= userdata.referralCode %>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Add an event listener to the button to handle the click event
  document
    .getElementById("createReferralButton")
    .addEventListener("click", async () => {
      try {
        const response = await fetch("/createReferral", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          // If you need to send any data in the request body, include it here
          body: JSON.stringify({}),
        });
        const data = await response.json();
        // Update the UI with the generated referral code
        document.getElementById("referralCodeSpan").innerText =
          "Referral code: " + data.referralCode;
        // Display the referral code container
        document.getElementById("referralCodeContainer").style.display =
          "block";
      } catch (error) {
        console.error("Error creating referral:", error);
        // Handle any errors that occur during the request
        // Display an error message to the user if needed
      }
    });
</script>

<%- include('footer') %>
