<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Italiana&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- //font-awesome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/stylesheets/user/wishlist.css" />
    <link rel="stylesheet" href="/stylesheets/user/athletic.css" />
    <link rel="stylesheet" href="/stylesheets/user/home.css" />

    

  <style>

header{

background-color: rgb(199, 188, 188);
}
  </style>

  </head>
  <body>

    <header>
        <div id="header-info">
          <!-- <p id="contactus">Contact Us</p> -->
          <img src="/img/amoli-jewels-high-resolution-logo-white-transparent.png" class="logo" />
            <h1 id="store-name">Amoli Jewels</h1>
          <div class="nav-icons">
            <div class="dropdown" id="my-account-dropdown">
              <a id="my-account" onclick="toggleDropdown()"><i class="fa fa-regular fa-user fa-xl"></i> My Account</a>
              <div class="dropdown-content" id="account-options">
                <a href="/profile"><i class="fa fa-regular fa-user fa-sm"></i> My Profile</a>
                <a href="/order-history"><i class="fa fa-regular fa-receipt fa-sm"></i> Orders</a>
                <a href="#"><i class="fa fa-regular fa-heart fa-sm"></i> Wishlist</a>
                <a href="#"><i class="fa fa-regular fa-ticket fa-sm"></i> Coupons</a>
                <a href="/logout"><i class="fa fa-regular fa-sign-out-alt fa-sm"></i> Logout</a>
              </div>
            </div>
    
            <a id="addtocart" href="/cart" style="color: black; text-decoration: none;">My Cart<i
                class="fa fa-duotone fa-cart-shopping fa-xl"></i></a>
          </div>
        </div>
        </div>
    
        <nav id="nav-bar">
          <a href="/home">Home</a>
          <a href="">About us</a>
          <a href="">Contact</a>
          <a href="/all-products">Products</a>
    
          <img src="" id="search-icon" />
        </nav>
      </header>

    <div class="cart-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="main-heading mb-10"><h3>My wishlist</h3></div>
            <div class="table-wishlist">
             
              <table cellpadding="0" cellspacing="0" border="0" width="100%">
                
                <thead>
                  <tr>
                    <th width="45%">Product Name</th>
                   
                    <th width="15%">Unit Price</th>
                   
                    <th width="15%"></th>
                    <th width="10%"></th>
                  </tr>
                </thead>
                <tbody>
                  <% if (wishlistItems.length > 0) { %>
                    <% wishlistItems.forEach(product => { %>
                  <tr>
                    <td width="45%">
                      <div class="display-flex align-center">
                        <div class="img-product">
                          <img
                            src="<%= product.productImage[0] %>"
                            alt=""
                            class="mCS_img_loaded"
                          />
                        </div>
                        <div class="name-product"><%= product.productName %></div>
                      </div>
                    </td>
                    <td width="15%" class="price">
                      <% if (product.discount && product.discount > 0) { %>
                        Rs. <%= (product.price - (product.discount / 100) * product.price).toFixed(2) %>
                        <s><%= product.price %></s>
                      <% } else { %>
                        Rs. <%= product.price %>
                      <% } %>
                    </td>
                    <td width="15%">
                      <% if (product.stock > 0) { %>
                        <span class="in-stock-box">In stock</span>
                    <% } else { %>
                        <span class="out-of-stock-box">Out of stock</span>
                    <% } %>
                        <span class="item-quantity">1</span>
                    </td>
                    <td width="15%">             
                        <form onsubmit="addToCart('<%= product.productId %>'); return false;">
                        <button type="submit" class="round-black-btn small-btn">
                          Add to Cart
                        </button>
                      </form>
                    </td>
                    
                    <td width="10%" class="text-center">
                      <a href="/remove-wishlist/<%= product._id %>" class="trash-icon">
                          <i class="far fa-trash-alt"></i>
                      </a>
                  </td>
                  
                  </tr>        
                
                </tbody>
                <% }); %>
                <% } else { %>
                    <p>Your wishlist is empty.</p>
                <% } %>
              </table>          
            </div>
          </div>
        </div>
      </div>
    </div>
   


     <!--FOOTER SECTION-->
  <footer>
    <div class="footer-content">
      <div class="footer-logo">
        <img src="/img/amoli-jewels-high-resolution-logo-black-transparent.png" class="logo" style="width: 70px; height: 60px;" />
      </div>
      <h2>FOLLOW US</h2>
      <div class="social-icons">
        <div class="icon-div">
          <a href="#" class="icon"><i class="fa-brands fa-facebook fa-xl" style="color: #f1f3f3;"></i></a>
        </div>
        <div class="icon-div">
          <a href="#" class="icon"><i class="fa-brands fa-twitter fa-xl" style="color: #f1f3f3;"></i></a>
        </div>
        <div class="icon-div">
          <a href="#" class="icon"><i class="fa-brands fa-instagram fa-xl" style="color: #f1f3f3;"></i></i></a>
        </div>
        <div class="icon-div">
          <a href="#" class="icon"><i class="fa-brands fa-youtube fa-xl" style="color: #f1f3f3;"></i></a>
        </div>
      </div>
      <ul class="footer-links">
        <li><a href="#">FAQS</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Shippping and Delivery</a></li>
        <li><a href="#">Payments</a></li>
      </ul>
    </div>
    <p>&copy; 2024 Your Company. All rights reserved.</p>
  </footer>


  <!-- Bootstrap JS dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script>
      function addToCart(productId, productName, stock) {
        if (stock > 0) {
          // Submit the form directly
          document.getElementById('add-to-cart-form-' + productId).submit();
        } else {
          // Show SweetAlert if stock is not available
          Swal.fire({
            icon: 'error',
            title: 'Out of Stock',
            text: productName + ' is out of stock!',
            confirmButtonText: 'OK'
          });
        }
      }
    </script>
    
    


    <script>
        function toggleDropdown() {
          var dropdown = document.getElementById("account-options");
          dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
        }
    
        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
          if (!event.target.matches('#my-account')) {
            var dropdown = document.getElementById("account-options");
            if (dropdown.style.display === "block") {
              dropdown.style.display = "none";
            }
          }
        };
      </script>


<script>
  // Function to handle form submission and show SweetAlert
  function addToCart(productId) {
    // Submit the form asynchronously using fetch
    fetch(`/add-to-cart/${productId}`, {
      method: 'POST',
    })
    .then(response => {
      if (!response.ok) {
        // If response is not ok, show SweetAlert with error message
        return response.json().then(data => {
          Swal.fire({
            icon: 'error',
            title: 'Oops....',
            text: data.message
          });
        });
      } else {
        // If response is ok, redirect to cart page or perform any other action
        window.location.href = '/cart';
      }
    })
    .catch(error => {
      console.error('Error adding product to cart:', error);
      // Handle any other errors that occur during form submission
      Swal.fire({
        icon: 'error',
        title: 'Error',
        text: 'An error occurred while adding the product to the cart. Please try again later.'
      });
    });
  }
</script>


  </body>
</html>
